<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body">
        <form class="form-add" (ngSubmit)="updateData()">
          <div class="mb-3">
            <label for="nama" class="form-label"></label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" [(ngModel)]="form.name" name="masukan nama">
          </div>
          <div class="mb-3">
            <label for="umur" class="form-label">Umur</label>
            <input type="number" class="form-control" id="umur" aria-describedby="emailHelp" [(ngModel)]="form.umur" name=" masukan umur">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Alamat</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="form.alamat" name="masukan alamat"></textarea>
          </div>
          <div class="mb-3">
            <label for="hobi" class="form-label">Jenis Kelamin</label>
            <select class="form-control" name="0" id=""  [(ngModel)]="form.jenis_kelamin" name="maskan jenis_kelamin">
              <option value="">Pilih Jenis Kelamin</option>
              <option value="0">Laki-Laki</option>
              <option value="1">Perempuan</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="hobi" class="form-label">Hoby</label>
            <input type="text" class="form-control" id="hobi" aria-describedby="emailHelp" [(ngModel)]="form.hobby" name="masukan hobby">
          </div>
          <div class="mb-3">
            <label for="hobi" class="form-label">Tinggi</label>
            <input type="number" class="form-control" id="hobi" aria-describedby="emailHelp" [(ngModel)]="form.tinggi" name="masukan tinggi">
          </div>
          <div class="mb-3">
            <label for="hobi" class="form-label">Berat</label>
            <input type="number" class="form-control" id="hobi" aria-describedby="emailHelp" [(ngModel)]="form.berat" name="masukan berat ">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeBtn type="button" class="btn btn-secondary close" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>
