<button type="button" class="btn btn-primary"  (click)="toggleUser()" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>



<table class="table table-bordered table-striped table-hover" style="text-align: center;">
  <thead class="table-dark">
    <tr>
      <th *ngFor="let col of columTable">
        {{ col }}
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- USE PROPERTI BINDING AND INTERPOLATION -->
    <tr>
      <td>{{ getName() }}</td>
      <td [innerHTML]="user.addres"></td>
      <td [innerHTML]="user.age"></td>
      <td [innerHTML]="user.hobby"></td>
      <td [innerHTML]="user.gender"></td>
      <td [innerHTML]="user.height"></td>
      <td [innerHTML]="user.weight"></td>
      <td>{{ (user.height - 100) - (user.height-100) * (10/100) }}</td>
    </tr>
    <tr *ngFor="let data of dataDetail.data">
      <td> {{ data.name }} </td>
      <td> {{ data.alamat }} </td>
      <td> {{ data.umur }} </td>
      <td> {{ data.hobby }} </td>
      <td> {{ data.jenis_kelamin }} </td>
      <td> {{ data.tinggi }} </td>
      <td> {{ data.berat }} </td>
      <td>{{ (data.tinggi - 100) - (data.tinggi-100) * (10/100) }} </td>
      <td><button type="button" class="btn btn-primary" (click)="toggleUpdate(data)" data-toggle="modal" data-target="#exampleModal"> Ubah </button></td>
      <td><button type="button" class="btn btn-primary" (click)="deleteData(data.id)"> Hapus </button></td>
    </tr>
  </tbody>
</table>

<app-detailadd *ngIf="isDetailAdd" (afterSave)="getDataDetail()"></app-detailadd>
<app-detailedit *ngIf="isDetailEdit" [id]="id" (afterSave)="getDataDetail()"></app-detailedit>
